@{
    ViewData["Title"] = "Home Page";
}
<script src="/js/landingController.js" type="text/javascript" language="javascript"></script>
<form action="/Home/Join" method="post" ng-controller="LandingController as landing">
    <h1 ng-if="landing.name.length">Hello {{landing.name}}!</h1>
    <label for="name">Name:</label> <br/>
    <input type="text" placeholder="Enter your name" name="name" id="name" ng-model="landing.name" /> <br/> <br/>
    <input type="submit" value="Plan!"/>
</form>