@page
@{}
<script src="/js/pokerService.js" type="text/javascript" language="javascript"></script>
<script src="/js/pokerController.js" type="text/javascript" language="javascript"></script>
<input type="hidden" id="my-self" value='@ViewBag.MySelf'/>
<div ng-controller="PokerController as poker">
    <section id="members">
        <h1>Team:</h1>
        <ul>
            <li class="team-member" ng-repeat="member in poker.members">{{member.name}} <input ng-model="member.vote" type="number" ng-if="member.name==poker.mySelf"/>
                <button ng-click="poker.vote()" ng-if="member.name==poker.mySelf" >Vote</button>
            </li>
        </ul>
    </section>
    {{poker | json}}
</div>
